<div class="container boja py-5">
  <div class="row">
    <div class="col-2 d-flex justify-content-end">
      <div class="ikone">
        <img src="{{ section.settings.image | img_url: '180x' }}" alt="">
        <div class="d-flex justify-content-between pt-4">
          <img src="{{ section.settings.icons | img_url: '35x' }}" alt="">
          <img src="{{ section.settings.icons2 | img_url: '35x' }}" alt="">
          <img src="{{ section.settings.icons3 | img_url: '35x' }}" alt="">
          <img src="{{ section.settings.icons4 | img_url: '35x' }}" alt="">
        </div>
      </div>
    </div>
    <div class="col-2 d-flex flex-column effect">
      <p class="green-text">{{ section.settings.title }}</p>
      <p>Young Engineers</p>
      <p>Robot Academy Jr.</p>
      <p>Video Game Design</p>
    </div>
    <div class="col-2 d-flex flex-column effect">
      <p class="green-text">{{ section.settings.title2 }}</p>
      <p>Young Engineers</p>
      <p>Robot Academy Jr.</p>
      <p>Video Game Design</p>
      <p>One-Time Workshops</p>
      <p>Summer Camps</p>
      <p>Parties</p>
      <p>In-Person Resources</p>
    </div>
    <div class="col-2 d-flex flex-column effect">
      <p class="green-text">{{ section.settings.title3 }}</p>
      <p>Blog</p>
      <p>FAQ</p>
      <p>Contact Us</p>
      <p>Location & hours</p>
      <p>About</p>
      <p>Educators</p>
    </div>
    <div class="col-4 d-flex flex-column">
      <p class="tekst">Join Our Mailing List</p>
      <div class="input-group mt-2 mb-6 d-flex">
        <input
          type="text"
          class="form-control ms-2 mt-1"
          placeholder="Email Address"
          aria-label="Email Address"
          aria-describedby="button-addon2">
        <button
          class="btn"
          type="button"
          id="button-addon2">Submit</button>
      </div>
      <div class="effect">
        <p>
          <svg
            class="me-3"
            xmlns="http://www.w3.org/2000/svg"
            width="19.945"
            height="13.808"
            viewBox="0 0 19.945 13.808">
            <g
              id="Icon_ionic-ios-mail"
              data-name="Icon ionic-ios-mail"
              transform="translate(-3.375 -7.875)">
              <path
                id="Path_10416"
                data-name="Path 10416"
                d="M23.157,10.343,18,15.6a.093.093,0,0,0,0,.134l3.61,3.845a.622.622,0,0,1,0,.882.625.625,0,0,1-.882,0l-3.6-3.831a.1.1,0,0,0-.139,0l-.877.892a3.86,3.86,0,0,1-2.752,1.16,3.938,3.938,0,0,1-2.81-1.194l-.844-.858a.1.1,0,0,0-.139,0l-3.6,3.831a.625.625,0,0,1-.882,0,.622.622,0,0,1,0-.882L8.7,15.732a.1.1,0,0,0,0-.134L3.538,10.343a.094.094,0,0,0-.163.067V20.925a1.539,1.539,0,0,0,1.534,1.534H21.786a1.539,1.539,0,0,0,1.534-1.534V10.41A.1.1,0,0,0,23.157,10.343Z"
                transform="translate(0 -0.776)"
                fill="#96999c" />
              <path
                id="Path_10417"
                data-name="Path 10417"
                d="M13.618,16.654a2.607,2.607,0,0,0,1.875-.786l7.523-7.657a1.507,1.507,0,0,0-.949-.336H5.175a1.5,1.5,0,0,0-.949.336l7.523,7.657A2.607,2.607,0,0,0,13.618,16.654Z"
                transform="translate(-0.271 0)"
                fill="#96999c" />
            </g>
          </svg>
          programs@therobotgarage.com
        </p>
      </div>
      <div class="effect">
        <p>
          <svg
            class="me-3"
            xmlns="http://www.w3.org/2000/svg"
            width="17.694"
            height="17.694"
            viewBox="0 0 17.694 17.694">
            <path
              id="Icon_awesome-phone-alt"
              data-name="Icon awesome-phone-alt"
              d="M17.19,12.5l-3.871-1.659a.829.829,0,0,0-.968.238l-1.714,2.094A12.81,12.81,0,0,1,4.514,7.054L6.608,5.34a.827.827,0,0,0,.238-.968L5.187.5a.835.835,0,0,0-.95-.48L.643.851A.829.829,0,0,0,0,1.659,16.034,16.034,0,0,0,16.036,17.695a.829.829,0,0,0,.809-.643l.829-3.594a.839.839,0,0,0-.484-.954Z"
              transform="translate(0 0)"
              fill="#96999c" />
          </svg>
          246 - 723 - 9100 | Birmingham Store
        </p>
      </div>
      <div class="effect">
        <p>
          <svg
            class="me-3"
            xmlns="http://www.w3.org/2000/svg"
            width="17.694"
            height="17.694"
            viewBox="0 0 17.694 17.694">
            <path
              id="Icon_awesome-phone-alt"
              data-name="Icon awesome-phone-alt"
              d="M17.19,12.5l-3.871-1.659a.829.829,0,0,0-.968.238l-1.714,2.094A12.81,12.81,0,0,1,4.514,7.054L6.608,5.34a.827.827,0,0,0,.238-.968L5.187.5a.835.835,0,0,0-.95-.48L.643.851A.829.829,0,0,0,0,1.659,16.034,16.034,0,0,0,16.036,17.695a.829.829,0,0,0,.809-.643l.829-3.594a.839.839,0,0,0-.484-.954Z"
              transform="translate(0 0)"
              fill="#96999c" />
          </svg>
          248 - 213 - 9960 | Rochester Store
        </p>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Bottom Section",
    "tag": "section",
    "class": "index-last-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Footer Logo"
      },
      {
        "type": "image_picker",
        "id": "icons",
        "label": "Social Icons"
      },
      {
        "type": "image_picker",
        "id": "icons2",
        "label": "Social Icons 2"
      },
      {
        "type": "image_picker",
        "id": "icons3",
        "label": "Social Icons 3"
      }, {
        "type": "image_picker",
        "id": "icons4",
        "label": "Social Icons 4"
      }, {
        "type": "header",
        "content": "Title Options"
      }, {
        "type": "text",
        "id": "title",
        "label": "Column Title"
      }, {
        "type": "text",
        "id": "title2",
        "label": " Middle Column Title"
      }, {
        "type": "text",
        "id": "title3",
        "label": "End Column Title"
      }
    ],
    "presets": [
      {
        "name": "Last Section",
        "category": "Content"
      }
    ]
  }
{% endschema %}