<div class="container position-relative">
  <h4 class="titl text-center pt-5">{{ section.settings.title }}</h4>
  <div class="row mb-5">
    <div class="background-pic col-12 col-md-8 col-lg-8">
      <img
        src="{{ section.settings.image | img_url: '800x500' }}"
        alt=""
      >
    </div>
    <div class="button-box py-3 col-12 col-md-4 col-md-4">
      <div class="content py-4">
        <h4>{{ section.settings.box_title }}</h4>
        <p class="pt-2">
          {{ section.settings.text }}
        </p>
        <p class="py-3">{{ section.settings.text2 }}</p>
        <div class="buttons d-flex justify-content-around">
          <a class="round-btn text-center pt-5" href="#">Classes</a>
          <a class="round-btn  text-center pt-5" href="#">Camps</a>
          <a class="round-btn text-center pt-5" href="#">Workshops</a>
          <a class="round-btn text-center pt-5" href="#">Parties</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Live in Detroit",
  "tag": "section",
  "class": "index-live-in-detroit-area",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Main Title"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background Image"
    },
    {
      "type": "text",
      "id": "box_title",
      "label": "Box Title",
      "default": "Box Title"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Box Text"
    },
    {
      "type": "text",
      "id": "text2",
      "label": "Box Text 2"
    }
  ],
  "presets": [
    {
      "name": "Meet in Person",
      "category": "Content"
    }
  ]
}
{% endschema %}
